<!DOCTYPE html>
<div lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
</head>
<body>
    <h1>Add a User</h1>
        <form action="/user/create" method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email" >Email:</label>
            <input type="text" name="email">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
</body>
</html>