<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
</head>
    <body>
        <div class="container justify-content-center w-50 p-2">
            <table class="table table-hover text-center table border">
                <thead class="text-white bg-dark">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>User Created At</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>
                            <td><a href="/user/{{user.id}}/show">Show</a> <a href="/user/{{user.id}}/edit">Edit</a> <a href="/user/{{user.id}}/delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
            <a href="/user/new">Add New User</a>
        </div>
    </body>
</html>